html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-default .navbar-nav .dropdown > a, .navbar-default .navbar-nav .dropdown > a:hover, .navbar-default .navbar-nav .dropdown > a:visited  {
    color:white;
  }
  
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-image: none;
	background-color: transparent;
	filter:none;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-right > li > a, .navbar-default .navbar-right > li > a:hover, .navbar-default .navbar-right > li > a:visited {
	color: white;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.row .thumbnail {
	border:0 none;
    box-shadow: none;
    border-radius:0;
}



.container h1 {
	color: white;
	left: 50%;
	margin-left: -150px;
	top: 20%;
	text-align: center;
	position: fixed;
	font-family: Helvetica;
}

h2 {
	color: black;
	font-family: Helvetica;
}

#topiccolumn {
	background-color: #B37534;
	height:100vh;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	position: fixed;
	top:33%;
	left: 13%;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 180px;
	height: 180px;
}

.flip-container, .front, .back p {
	text-align:center;
	color: white;
	font-size: 20pt;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.btn, .btn:hover{
	background-color: #36B5A8;
	position:fixed;
	border-color: #36B5A8;
	top: 60%;
	left: 50%;
	margin-left: -100px;
}

.panel {
	width:550pt;
	border: none;
}

.panel .panel-heading {
	background-color: transparent;
	background: transparent;
}

.panel .panel-heading h4 {
	font-size: 17pt;
	color: #B37534;
}

.panel .panel-body h3 {
	color:black;
	font-size: 17pt;
	font-family: Helvetica
}

#edit {
	background-color: white;
	border-color:black;
	position: relative;
	left: 400pt;
}

#save {
	background-color: white;
	border-color:black;
	position: relative;
	left: 300pt;
}

#nav .panel-body {
	background-color: #B37534;
}
#nav .panel-body h3{
	color: white;
	font-size: 14pt;
}

#nav {
	width:300px;
}

#nav h4 {
	font-size:12pt;
}

.home {
	background: url(../Assets/backgroundimg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}